# Git
.git
.gitignore
.gitignore.txt

# Docker
.dockerignore
.dockerignore.txt
Dockerfile
Dockerfile.txt

# Dependencies
node_modules

# Build artifacts
dist
build

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.local
.env.*.local

# Documentation and other non-essential files
README.md
about.md
CHANGELOG.md
DEV_STANDARDS.md
LICENSE.md